   <a href="/products/details/{{_id}}" class="added-hotel">
     <h3>{{name}}</h3>
            <img src="{{imageUrl}}" alt="" class="picture-added-hotel">
          
              <h3>{{city}}</h3>
            <span>Free rooms: {{freeRooms}}</span>
        </a>