
    <main>
      <div class="cubegeneral">
         <h1>{{productHbs.name}}</h1>
      <img class="cube" src="{{productHbs.imageUrl}}">
      <div class="details">
        <p><span>Description:</span>{{productHbs.description}}</p>
        <p><span>Difficulty level:</span>{{productHbs.difficultyLevel}}</p>
        <a class="btn" id="backbtnC" href="/">Back</a>
        <a class="btn"  id="editbtnC" href="/products/editCube/{{productHbs._id}}" >Edit Cube</a>
    <a class="btn" id="deletbtnC"  href="/products/deleteCube/{{productHbs._id}}" >Delete Cube</a>
       
      </div>
      </div>
     


       
    <h2>Accessories</h2>
    <div class="accessories">
        {{#each productHbs.accessories }}
          {{>accessory}}
    {{else}}
    <h3 class="italic">This cube has no accessories yet...</h3>
    {{/each}}
    <div class="details">
       <a class="btn"  href="/products/{{productHbs._id}}/attachAccessory">Attach Accessory</a>
    </div>
      </div>
    </main>
