 <div class="accessory">
      <img src="{{imageUrl}}" alt="stickerName" />
     
      
 
      <h3>{{name}}</h3>
      <p>{{description}}</p>
      <a class="btn" id="editbtn" href="/editAccessory/{{_id}}">Edit Accessory</a>
      <a class="btn" id="deletbtn" href="/deleteAccessory/{{_id}}">Delete Accessory</a>
    
      
    </div>