 <div class="accessory">
      <img src="{{imageUrl}}" alt="stickerName" />
      <h3>{{name}}</h3>
      <p>{{description}}</p>

      {{!-- {{#if isCreatorAccessory}} --}}
      <a class="btn" id="editbtn" href="/accessories/editAccessory/{{_id}}">Edit Accessory</a>
      <a class="btn" id="deletbtn" href="/accessories/deleteAccessory/{{_id}}">Delete Accessory</a>
      {{!-- {{/if}} --}}
    </div>